<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yzwy.lprmag">

    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 屏幕常量 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_chinese"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Dialog 预置点-->
        <activity
            android:name=".dialog.PresetDialog"
            android:launchMode="singleTop"
            android:theme="@style/MyDialogStyle_Perset" />
        <!--Dialog 优先级-->
        <activity
            android:name=".dialog.PriorityDialog"
            android:launchMode="singleTop"
            android:theme="@style/MyDialogStyle_Perset" />
        <!--Dialog 车牌识别-->
        <activity
            android:name=".dialog.LprDialog"
            android:launchMode="singleTop"
            android:theme="@style/MyDialogStyle_Lpr" />
        <activity android:name=".guide.animation.guide.GuideActivity2" />


        <!--主界面-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />

        <!--海康界面-->
        <activity
            android:name=".HiKCameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <!--引导页界面-->
        <activity
            android:name=".guide.animation.guide.GuideActivity"
            android:launchMode="singleTop" />
        <!--登录界面-->
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop" />

        <!--终端热点热点管理界面-->
        <activity
            android:name=".WifiHotMagActivity"
            android:launchMode="singleTop" />
        <!--关于我们界面-->
        <activity
            android:name=".AboutUsActivity"
            android:launchMode="singleTop" />
        <!--营私协议界面-->
        <activity
            android:name=".PrivacyAgreementActivity"
            android:launchMode="singleTop" />
        <!--使用教程列表页界面-->
        <activity
            android:name=".UseCourseListActivity"
            android:launchMode="singleTop" />
        <!--使用教程详情页界面-->
        <activity
            android:name=".UseCourseDetailsActivity"
            android:launchMode="singleTop" />
        <!--客服中心界面-->
        <activity
            android:name=".CustomServiceActivity"
            android:launchMode="singleTop" />

        <!--配置界面-->
        <activity android:name=".ConfigSetActivity" />


    </application>

</manifest>